<!DOCTYPE html>
﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cyber Defense Agenda";
}

<div class="row" id="partialnav">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li><a href="~/Cyber/Index">Home</a></li>
      <li><a href="~/Cyber/Resources">Resources</a></li>
      <li><a href="~/Cyber/Event">Event</a></li>
      <li><a href="~/Cyber/Agenda">Agenda</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3>Preparation for CCDC</h3>
    <p>Review outcome from previous years competition and develop a game plan.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <ol>
      <li><p>end</p></li>
      <li><p>middle</p></li>
      <li><p>beginning</p></li>
    </ol>
  </div>
</div>
