@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cyber Defense Home";
}

@*Link to HomeCSS*@
<link href="~/Stylesheets/HomeCSS.css" rel="stylesheet" />

<div class="row" id="partialnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li><a href="~/Cyber/Index">Home</a></li>
            <li><a href="~/Cyber/Resources">Resources</a></li>
            <li><a href="~/Cyber/Event">Event</a></li>
            <li><a href="~/Cyber/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>


<div class="row" id="slider">

</div>
<div class="row">
    <div class="col-md-12" id="subbody">
        <h2>Our Mission</h2>
        <p>
            Cyber Defense Team is a division of the ACM Club at Augusta University
            where we learn and train on current cyber tactics.
        </p>
        <h3>Team Members</h3>
        <ul>
            <li>Matthew Atkinson - <b>Captain</b></li>
            <li>Thomas Gordon - <b>Co-Captain</b></li>
            <li>Jeremy Garcia</li>
        </ul>
    </div>
</div>
