<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cyber Defense Resources";
}

<div class="row" id="partialnav">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li><a href="~/Cyber/Index">Home</a></li>
      <li><a href="~/Cyber/Resources">Resources</a></li>
      <li><a href="~/Cyber/Event">Event</a></li>
      <li><a href="~/Cyber/Agenda">Agenda</a></li>
    </ul>
  </div>
</div>

<div class="row" id="cybertutorials">
  <div class="col-md-12">
    <h3>Tutorials</h3>
		<ul>
			<li><a href="https://www.offensive-security.com/metasploit-unleashed/using-exploits/">Using Exploits in Metasploit</a></li>
		  <li><a href=""></a></li>
      <li><a href=""></a></li>
		  <li><a href=""></a></li>
    </ul>
  </div>
</div>

<div class="row" id="cyberhelp">
  <div class="col-md-12">
    <h3>Helpful Resources</h3>
    <ul>
		  <li><a href="http://www.cybrary.it">Cybrary Learning</a></li>
      <li><a href="https://www.offensive-security.com/community-projects/google-hacking-database/">Google Hacking Database (GHDB)</a></li>
		  <li><a href="https://www.offensive-security.com/community-projects/the-exploit-database/">The Exploit Database</a></li>
      <li><a href=""></a></li>
		  <li><a href=""></a></li>
    </ul>
  </div>
</div>

<div class="row" id="cyberdocs">
  <div class="col-md-12">
    <h3>Documents</h3>
    <ul>
			<li><a href="https://docs.parrotsec.org/doku.php">Parrot Security OS Documentation</a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
    </ul>
  </div>
</div>
