@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Web Development Events";
}

@*Link to EventCSS*@
<link href="~/Stylesheets/EventsCSS.css" rel="stylesheet" />

<div class="row" id="partialnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/WebDev/Index">Home</a></li>
            <li><a href="~/WebDev/Resources">Resources</a></li>
            <li><a href="~/WebDev/Event">Events</a></li>
            <li><a href="~/WebDev/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Events</h3>
        <ul>
            <li><a href="~/Resources/Meeting Minutes for Friday July 14th.docx">Most Recent Meeting's Minutes (July 14th, 2017)</a></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
        <iframe src="https://calendar.google.com/calendar/embed?src=trueleo1%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
