@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Web Development";
}

@*Link to HomeCSS*@
<link href="~/Stylesheets/HomeCSS.css" rel="stylesheet" />

<div class="row" id="partialnav">
    <div class="col-md-12" style="border-left:double; background-image: url(../../Images/bluecentergradient.jpg); width:100%; position:relative; background:#003359; padding:20px 20px 0 20px">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/WebDev/Index">Home</a></li>
            <li><a href="~/WebDev/Resources">Resources</a></li>
            <li><a href="~/WebDev/Event">Events</a></li>
            <li><a href="~/WebDev/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="subbody" style="background-color: rgba(0, 51, 89, 0.71); text-align:center; padding:25px; border-radius:25px 60px 25px 60px; border:1px solid #eee; color:white; margin:20px; position:relative;">
        <p>The web development division of Augusta University's ACM club strives to encourage and educate students that have an interest in web programming and development.
        We hope to provide valuable hands on experience and opportunities that will advance technical and personal skills. Our main project is constructing, maintaining, and improving the ACM club's website. 
        </p> <!--Add relevant data about the divison-->
    </div>
</div>
<div class="row container">
    <h2>Meet the captains!</h2>
    <div class="col-md-3" id="teamCaptain">
        <div style="text-align:center;">
            <p style="padding: 25px; height:inherit; width:inherit; text-align:center; color:white; background-image: url(../../Images/bluecentergradient.jpg)">
                <img src="" alt="Shelby Wilson" height="200" width="150"/><br>
                Captain of Web Development Division<br>Shelby Wilson
               </p>
        </div>
    </div>
</div>

    
