@font-face{
   font-family: 'Futura_ICG';
    src: url('../fonts/Futura_ICG.ttf') format('truetype');

}
body {
    padding-bottom: 20px;
    font-family:Futura_ICG;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Navigation CSS*/
#fullnav{ /*Coloring this touches the entire nav, Andrew*/
     font-weight:bold;

}
#infonav{/*Coloring this touches the extra nav links, (e.g. blog, events,etc), Andrew*/
    color:blue;
    background-color:white;
}
#groupnav{ /*Coloring this touches the group division links, Andrew*/
    background-color:blue ;
}
/*Body CSS*/
#renderedbody{

}
#maincontent{

}
#socialmedia{

}