@font-face{
   font-family: 'Futura_ICG';
    src: url('../fonts/Futura_ICG.ttf') format('truetype');

}
body {
    padding-bottom: 20px;
    font-family:Futura_ICG;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Navigation CSS
    Bootstrap.css was edited for text on all nav bars to be white
    */
#fullnav{ /*Coloring this touches the entire nav, Andrew*/
     font-weight:bold;
     color:#ffffff;
     background-color:#002f55;

}
#navlogo{ /*Logo*/
    height:50px;
}
#infonav{/*Coloring this touches the extra nav links, (e.g. blog, events,etc), Andrew*/
    color:white;
    background-color:#002f55;
}
<<<<<<< HEAD
#infonav a{
    color:white;
=======
#infonav li{
    color:#ffffff;
>>>>>>> d40cf9595bfca89affc22cdbafca67019b03e6e1
}
#groupnav{ /*Coloring this touches the group division links, Andrew*/
    background-color:#A5ACAF;
    color:#ffffff;
}
#groupnav a{
    color:white;
}
/*Body CSS*/
#renderedbody{
    background-color:#A5ACAF;
    color:#000000;

}
#maincontent{
    background-color:#A5ACAF;
    color:black;
}
#socialmedia{
    background-color: #002f55;
    color:white;

}
