@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programming Agenda";
}

<div class="row" id="partialnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/Programming/Index">Home</a></li>
            <li><a href="~/Programming/Resources">Resources</a></li>
            <li><a href="~/Programming/Event">Events</a></li>
            <li><a href="~/Programming/Info">Info</a></li>
            <li><a href="~/Programming/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Current Task Title: Do the work that was menat to be done!</h3>
        <p>Deatils of the task</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ol>
            <li><p>last thing we did</p></li>
            <li><p>thing we did before that</p></li>
            <li><p>very first thing we did</p></li>
        </ol>
    </div>
</div>