@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programming Events";
}
<div class="row" id="partialnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/Programming/Index">Home</a></li>
            <li><a href="~/Programming/Resources">Resources</a></li>
            <li><a href="~/Programming/Event">Events</a></li>
            <li><a href="~/Programming/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Upcoming Events</h3>
        <ol>
            <li>Set Meet Time</li>
            <li>First Competition</li>
            <li>Second Competiton</li>
            <li>Thrid Competition</li>
        </ol>
    </div>
</div>

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
            <iframe src="https://calendar.google.com/calendar/embed?src=trueleo1%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

