@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programming Team Resources";
}
<div class="row" id="partialnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/Programming/Index">Home</a></li>
            <li><a href="~/Programming/Resources">Resources</a></li>
            <li><a href="~/Programming/Event">Events</a></li>
            <li><a href="~/Programming/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Tutorials</h3>
        <ul>
            <li><a href="https://www.codecademy.com"></a>Code Academy</li>
			<li><a href="https://mva.microsoft.com/en-us/training-courses/c-fundamentals-for-absolute-beginners-16169?l=Lvld4EQIC_2706218949">C# Fundamentals for Absolute Beginners</a></li>
            <li><a href="https://teamtreehouse.com"></a>Team Tree House</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Helpful Resources</h3>
        <ul>
            <li><a href="https://www.hackerrank.com" rel="">Hacker Rank</a></li>
			<li><a href="https://www.udacity.com"></a>Udacity</li>
			<li><a href="https://learncodethehardway.org"></a>Learn Code the Hard Way</li>
			<li><a href=""></a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Documents</h3>
        <ul>
            <li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
        </ul>
    </div>
</div>
