@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programming Team Resources";
}
<div class="row" id="partialnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/Programming/Index">Home</a></li>
            <li><a href="~/Programming/Resources">Resources</a></li>
            <li><a href="~/Programming/Event">Events</a></li>
            <li><a href="~/Programming/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Tutorials</h3>
        <ul>
            <li></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Helpful Resources</h3>
        <ul>
            <li></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Documents</h3>
        <ul>
            <li></li>
        </ul>
    </div>
</div>
