@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programming Home";
}

@*Link to HomeCSS*@
<link href="~/Stylesheets/HomeCSS.css" rel="stylesheet" />

<div class="row" id="partialnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs"> <!--add appropriate links to your division-->
            <li><a href="~/Programming/Index">Home</a></li>
            <li><a href="~/Programming/Resources">Resources</a></li>
            <li><a href="~/Programming/Event">Events</a></li>
            <li><a href="~/Programming/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="subbody">
		<h3>Our Goal</h3>
		<p>Programming Team is a divsion to study programming. Here, we will explore various programming languages as a team and
			further develop our skill set. We also will compete in several programming competitions. No skill level is required so 
		    do not be afraid to come and learn with us</p> <!--Add relevant data about the divison-->

		<h3>Team Members</h3>
		<ul>
			<li>TBD - <b>Captain</b></li>
			<li>Blake</li>
			<li>Thomas</li>
			<li>Shelby</li>
			<li></li>
		</ul>
    </div>
</div>
