@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Game Development Agenda";
}

<div class="row" id="partialnav">
    <div class="col-md-12" style="border-left:double; background-image: url(../../Images/bluecentergradient.jpg); width:100%; position:relative; background:#003359; padding:20px 20px 0 20px">
        <ul class="nav nav-tabs">
            <!-- Division links -->
            <li><a href="~/GameDev/Index">Home</a></li>
            <li><a href="~/GameDev/Resources">Resources</a></li>
            <li><a href="~/GameDev/Event">Events</a></li>
            <li><a href="~/GameDev/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<!-- Articles -->
<div class="row container">
    <div class="col-lg-12" style="background-color: rgba(0, 51, 89, 0.71); background-image: url(../../Images/bluecentergradient.jpg); text-align:center; padding:25px; border-radius:25px 60px 25px 60px; border:1px solid #eee; color:white; margin:5px; position:relative;">
        <h3 style="text-decoration:underline;">Title of Article</h3>
        <p>Article</p>
    </div>
</div>