@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Game Development Home";
}

@*Link to HomeCSS*@
<link href="~/Stylesheets/HomeCSS.css" rel="stylesheet" />

<div class="row" id="partialnav">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li><a href="~/GameDev/Index">Home</a></li>
            <li><a href="~/GameDev/Resources">Resources</a></li>
            <li><a href="~/GameDev/Event">Event</a></li>
            <li><a href="~/GameDev/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="subbody">
        <h2>Our Mission</h2>
        <p>
            TBD
        </p>
        <h3>Team Members</h3>
        <ul>
            <li>TBD - <b>Captain</b></li>
        </ul>
    </div>
</div>