@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Game Development Resources";
}

<div class="row" id="partialnav">
    <div class="col-md-12" style="border:double; background-image: url(../../Images/bluecentergradient.jpg); width:100%; position:relative; background:#003359; padding:20px 20px 0 20px">
        <ul class="nav nav-tabs">
            <li><a href="~/GameDev/Index">Home</a></li>
            <li><a href="~/GameDev/Resources">Resources</a></li>
            <li><a href="~/GameDev/Event">Events</a></li>
            <li><a href="~/GameDev/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="border:5px solid white; background-color:darkgrey; width:100%; position:relative; padding:20px 20px 0 20px;">
        <h3 style="color:white;">Tutorials</h3>
        <!--<ul>
                HERE IS A TEMPLATE FOR WHEN YOU HAVE RESOURCES FOR GAME DEV, UNCOMMENT WHOLE THING
                <li><a href="WEB ADDRESS">NAME OF SITE</a> - WHAT IT IS HELPFUL FOR</li>
            </ul> -->
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="border:double; background-color: gray; width:100%; position:relative; padding:20px 20px 0 20px">
        <h3 style="color:white;">Helpful Resources</h3>
        <ul>
            <!-- Not removing these due to being generally helpful resources -->
            <li><a href="www.github.com">Git Hub</a>Host, review, and manage projects</li>
            <li><a href="www.stackoverflow.com">Stack Overflow</a> - Developer forum</li>
            <li><a href="www.msdn.microsoft.com">Microsoft Developer Network</a>MIcrosoft software help site</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="border:double; background-color: darkgray; width:100%; position:relative; padding:20px 20px 0 20px">
        <h3 style="color:white;">Documents</h3>
        <ul>
            <li></li>
        </ul>
    </div>
</div>

