@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Web Development Agenda";
}

@*Link to AgendaCSS*@
<link href="~/Stylesheets/AgendaCSS.css" rel="stylesheet" />

<div class="row" id="partialnav">
    <div class="col-md-12" style="border-left:double; background-image: url(../../Images/bluecentergradient.jpg); width:100%; position:relative; background:#003359; padding:20px 20px 0 20px">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/WebDev/Index">Home</a></li>
            <li><a href="~/WebDev/Resources">Resources</a></li>
            <li><a href="~/WebDev/Event">Events</a></li>
            <li><a href="~/WebDev/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>

<div class="row container">
    <div class="col-lg-12" style="background-color: rgba(0, 51, 89, 0.71); background-image: url(../../Images/bluecentergradient.jpg); text-align:center; padding:25px; border-radius:25px 60px 25px 60px; border:1px solid #eee; color:white; margin:5px; position:relative;">
        <h3 style="text-decoration:underline;">Construction of ACM's Website</h3>
        <p>Augusta University's web development team is in the process of building the ACM website that will host as a source of information for its club members, Augusta University students, and general enthusiasts! Our goal is to use this website as on ongoing project to provide ACM members with hands on experience and establish a <em>strong</em> foundation of web development knowledge.</p>
    </div>
</div>
<div class="row container">
    <div class="col-lg-12" style="color:black; border-radius:25px 75px 25px 75px; padding:10px; background-color:lightgrey; border:1px solid white; margin:5px">
        <ul>
            <li><p>The web development team and other divisions met with Dean Rick Franza to discuss the future of ACM and technology related degrees.</p></li>
            <li><p>The web development team began creating <em>this</em> website!</p></li>
            @*<li><p>very first thing we did</p></li>*@
        </ul>
    </div>
</div>
