@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Web Development Resources";
}

<div class="row" id="partialnav">
    <div class="col-md-12" style="border-left:double; background-image: url(../../Images/bluecentergradient.jpg); width:100%; position:relative; background:#003359; padding:20px 20px 0 20px">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/WebDev/Index">Home</a></li>
            <li><a href="~/WebDev/Resources">Resources</a></li>
            <li><a href="~/WebDev/Event">Events</a></li>
            <li><a href="~/WebDev/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="border-left:double; background-color: lightgray; width:100%; position:relative; background:#003359; padding:20px 20px 0 20px" >
        <h3>Tutorials</h3>
        <ul>
            <li><a href="www.w3schools.com">W3 Schools</a></li>
            <li><a href="www.codecademy.com">Codecademy</a></li>
            <li><a href="www.lynda.com">Lynda</a></li>
            <li><a href="www.codecrew.co">Curriculum for Noobs</a></li>
            <li><a href="www.htmldog.com">HTML Dog</a></li>
            <li><a href="www.developer.mozila.org">Mozilla Developer Network</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Helpful Resources</h3>
        <ul>
            <li><a href="www.github.com">Git Hub</a></li>
            <li><a href="www.stackoverflow.com">Stack Overflow</a></li>
            <li><a href="www.msdn.com">MSDN</a></li>
            <li><a href="www.hackerrank.com">Hacker Rank</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Documents</h3>
        <ul>
            <li></li>
        </ul>
    </div>
</div>

