@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Web Development Resources";
}

<div class="row" id="partialnav">
    <div class="col-md-12" style="border:double; background-image: url(../../Images/bluecentergradient.jpg); width:100%; position:relative; background:#003359; padding:20px 20px 0 20px">
        <ul class="nav nav-tabs">
            <!--add appropriate links to your division-->
            <li><a href="~/WebDev/Index">Home</a></li>
            <li><a href="~/WebDev/Resources">Resources</a></li>
            <li><a href="~/WebDev/Event">Events</a></li>
            <li><a href="~/WebDev/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="border:5px solid white; background-color:darkgrey; width:100%; position:relative; padding:20px 20px 0 20px;" >
        <h3 style="color:white;">Tutorials</h3>
        <ul>
            <li><a href="www.w3schools.com">W3 Schools</a> - Tutorials for different languages</li>
            <li><a href="www.codecademy.com">Codecademy</a> - Hands on coding tutorials</li>
            <li><a href="www.lynda.com">Lynda</a> - Video courses</li>
            <li><a href="www.codecrew.co">Curriculum for Noobs</a> - Web development process</li>
            <li><a href="www.htmldog.com">HTML Dog</a> - Tutorials, techniques, examples and references</li>
            <li><a href="www.developer.mozila.org">Mozilla Developer Network</a> - Shared knowledge about web development</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="border:double; background-color: gray; width:100%; position:relative; padding:20px 20px 0 20px">
        <h3 style="color:white;">Helpful Resources</h3>
        <ul>
            <li><a href="www.github.com">Git Hub</a>Host, review, and manage projects</li>
            <li><a href="www.stackoverflow.com">Stack Overflow</a> - Developer forum</li>
            <li><a href="www.msdn.microsoft.com">Microsoft Developer Network</a>MIcrosoft software help site</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="border:double; background-color: darkgray; width:100%; position:relative; padding:20px 20px 0 20px">
        <h3 style="color:white;">Documents</h3>
        <ul>
            <li></li>
        </ul>
    </div>
</div>

